In [1]:
import os 
import pandas as pd
df = pd.read_csv('input/attacks.csv',encoding='latin-1')

In [ ]:
df

In [2]:
print(df.columns.values)

['Case Number' 'Date' 'Year' 'Type' 'Country' 'Area' 'Location' 'Activity'
 'Name' 'Sex ' 'Age' 'Injury' 'Fatal (Y/N)' 'Time' 'Species '
 'Investigator or Source' 'pdf' 'href formula' 'href' 'Case Number.1'
 'Case Number.2' 'original order' 'Unnamed: 22' 'Unnamed: 23']

In [ ]:
 df.Year.value_counts()

In [3]:
df["Species "].value_counts().head(50)

White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        88
Tiger shark                                            73
Shark involvement prior to death unconfirmed           68
Bull shark                                             52
6' shark                                               40
4' shark                                               40
Questionable incident                                  35
1.8 m [6'] shark                                       35
Questionable                                           34
1.5 m [5'] shark                                       32
1.2 m [4'] shark                                       27
5' shark                                               26
3' shark                                               26
2 m shark                                              25
4' to 5' shark                                         24
3 m [10'] shark                                        22
No shark involvement                                   21
Wobbegong shark                                        21
3' to 4' shark                                         18
3 m shark                                              17
2.4 m [8'] shark                                       16
3.7 m [12'] shark                                      15
12' shark                                              15
Blacktip shark                                         15
Blue shark                                             14
1.2 m to 1.5 m [4' to 5'] shark                        14
Shark involvement prior to death not confirmed         13
"a small shark"                                        13
1.5 m shark                                            13
7' shark                                               13
Mako shark                                             13
10' shark                                              12
6 m [20'] white shark                                  12
Nurse shark                                            12
5 m [16.5'] white shark                                12
Bronze whaler shark                                    12
Raggedtooth shark                                      12
Zambesi shark                                          11
Grey nurse shark                                       11
4 m [13'] white shark                                  10
White shark, 4 m [13']                                  9
2.1 m [7'] shark                                        9
1 m shark                                               9
Hammerhead shark                                        9
a small shark                                           9
"small shark"                                           8
3 m [10'] white shark                                   8
Name: Species , dtype: int64

In [ ]:
df["Injury"].value_counts().head(40)

In [ ]:
df.Country.describe()

In [4]:
# remove null "Year" values
df_clean=df.drop(['Case Number.1', 'Case Number.2','href formula', 'Unnamed: 22','Unnamed: 23'], axis=1)

In [5]:
print(df_clean.columns.values)

['Case Number' 'Date' 'Year' 'Type' 'Country' 'Area' 'Location' 'Activity'
 'Name' 'Sex ' 'Age' 'Injury' 'Fatal (Y/N)' 'Time' 'Species '
 'Investigator or Source' 'pdf' 'href' 'original order']

In [6]:
df_clean=df_clean.drop_duplicates()

In [ ]:
df_clean

In [ ]:
df_clean[["Fatal (Y/N)","Species ","Country"]].dropna()

In [ ]:
df_clean=df_clean.drop_duplicates()

df_h1=df_clean[["Activity","Fatal (Y/N)","Area"]].dropna()

In [ ]:

df_h1.groupby(["Activity"]).describe()

In [ ]:
df_clean["Species "]=df_clean["Species "].dropna()

In [8]:
df_clean["Species "].dropna()

0                                             White shark
3                                               2 m shark
4                                         Tiger shark, 3m
6                                             Tiger shark
7                                         Lemon shark, 3'
                              ...
6276                                      12' tiger shark
6293                                         Blue pointer
6294                                         Blue pointer
6295                                        Blue pointers
6296    Said to involve a grey nurse shark that leapt ...
Name: Species , Length: 3464, dtype: object

In [9]:
import re
df_clean["Species "].str.contains('White|white', regex=True )

0         True
1          NaN
2          NaN
3        False
4        False
         ...
6307       NaN
6308       NaN
6309       NaN
8702       NaN
25722      NaN
Name: Species , Length: 6312, dtype: object

In [12]:
import numpy as np
df_clean["Specie_white"]=np.where(df_clean["Species "].str.contains('White|white', regex=True ), "White Shark", "others")

In [15]:
df_clean["Specie_white"].dropna().value_counts()

White Shark    3515
others         2797
Name: Specie_white, dtype: int64

In [19]:
df_h1=df_clean[["Country","Fatal (Y/N)","Specie_white"]].dropna()
df_h1

                 Country Fatal (Y/N) Specie_white
0                    USA           N  White Shark
1                    USA           N  White Shark
2                    USA           N  White Shark
3              AUSTRALIA           N       others
4                 MEXICO           N       others
...                  ...         ...          ...
6297           AUSTRALIA           Y  White Shark
6298           AUSTRALIA           Y  White Shark
6299                 USA           Y  White Shark
6300              PANAMA           Y  White Shark
6301  CEYLON (SRI LANKA)           Y  White Shark

[5718 rows x 3 columns]

In [25]:
df_h1["Country"].value_counts()

USA                          2041
AUSTRALIA                    1225
SOUTH AFRICA                  515
PAPUA NEW GUINEA              132
NEW ZEALAND                   116
                             ...
ALGERIA                         1
PERU                            1
SAN DOMINGO                     1
SOLOMON ISLANDS / VANUATU       1
TASMAN SEA                      1
Name: Country, Length: 202, dtype: int64

In [ ]:
df_clean

In [ ]:
df_clean["Type"].value_counts()

In [ ]:
df_clean["Species "].fillna(value="invalid")
df_clean.replace({'Species ': r'^\d.'}, {'Species ': 'Unknown'}, regex=True)
df_clean["Species "].value_counts()[0:50]

In [ ]:

df_clean["Species "]=df_clean["Species "].dropna()
df_clean["Species "].isnull()

In [ ]:
df_clean.loc[df_clean["Species "].str.startswith("White"),"Species "] = "White Shark"
df_clean["Species "].value_counts()[0:5

In [ ]:
import re
white= df_clean["Species "].str.contains('white', regex=True)

In [ ]:
white.value_counts()

In [ ]:
df_clean["Species1"]=[]
for i in df_clean["Species "]:
    re.sub(r'W','w',i)
    res= re.findall(r"white.*",i)
    if res:
        df_clean["Species1"].append("White Shark")
    else:
        df_clean["Species1"]=i
        
df_clean["Species1"]

In [ ]:
df_clean["Activity"].value_counts()